:root {
  --laranja: #F26C28;
  --roxo: #8A1F89;
  --azul: #2C3C9E;
  --amarelo: #FFC627;
  --cinza: #2B2B2B;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

